:root{
	--main-color: #007bff;
	--text-color: #f7f7f7;
}

body{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.profile-pic{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.container{
	height: 93vh;
	width: 100vw;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;

}

.flex-container{
	display: flex;
	flex-flow: column-reverse nowrap;
	justify-content: center;
	align-items: center;
}

#calc{
	display: grid;
	grid-gap: 10px;
	grid-template-areas: 
	'seven eight nine plus clear'
	'four five six minus backspace'
	'one two three by float'
	'zeroo zeroo zeroo divided equal';
	width: 500px;
	height: 400px;
}

#calc>div{
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--main-color);
	font-weight: bold;
	font-size: 150%;
	border-radius: 10px;
	color: var(--text-color);
	cursor: pointer;
	box-shadow: 0 5px #999
}

#calc>div:active{
	box-shadow: 0 2px #666;
	transform: translateY(3px);
}

#calc>div:hover{
	background: #0000ff
}



#clear{
	background: #dc3545 !important;
}

#output{
	margin: 10px 0;
	border: 2px solid #6c757d;
	box-sizing: content-box;
	border-radius: 10px;
	width: 490px;
	height: 50px;
	padding-right: 10px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-weight: bold;
	font-size: 150%;
	overflow: auto;
}

@media only screen and (max-width: 576px){
	#calc{
		width: 300px;
		height: 375px;
		grid-template-areas: 
		'seven eight nine plus'
		'four five six plus'
		'one two three minus'
		'float zeroo by divided'
		'clear backspace equal equal';
	}

	#output{
		width: 290px;
	}
}

@media only screen and (max-height: 400px){
	#calc{
		grid-template-areas: 
		'seven eight nine plus clear'
		'four five six minus backspace'
		'one two three by float'
		'zeroo zeroo zeroo divided equal';
		width: 500px;
		height: 220px;
	}

	#footer{
		height: 10vh;
	}
}